
* {
	margin:0;
	padding:0;		
}

.title-font {
	color: white; 
	font-family: monospace;
}

#first-container{
	text-align:center;
	padding-top: 1%;
	border-bottom-width: 2px; 
	border-bottom-color: white;
	border-bottom-style: solid;
	padding-bottom:1%;
}

#logos {
	text-align:center;
	position:relative;
	margin-top:1%;
}

#logos a {
	text-decoration:none;
}

.linkedin-logo, .github-logo {
	width: 50px;
	height: 45px;
}

.github-logo {
	@ extend border-radius: 90%;
}
	
#Form {
	padding-top:1%;
	text-align:center;
}

input, button, textarea {
	font-family: monospace;
}

input:hover, button:hover, textarea:hover {
	background-color: pink;
}

@media (min-width: 1081px) {
	body {
		background-color: rgb(50,49,50);
	}
}

@media (max-width: 1080px) {
	body {
		background-color: rgb(165,206,11);
	}
}


